button{
    width:100px;
    height:35px;
    background-color:#bcc4c7;
    border-radius: 5px;
    margin-left:20px;
    padding:10px;
}
th{
    background-color:#bcc4c7;; 
   
}
tr{
    padding:0px;
}


     

table{
    width:900px;
    height:auto;
    border:1px solid black;
    margin-top:33%;
    margin-left: 100px;
   

}
.first
{
    width:600px;
    height:auto;
    
}